<a href="https://colab.research.google.com/github/SizzlingDonut/Python-DataScience/blob/main/Pandas/Pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

data = {
        "Name": ["Spongebob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]
}

df = pd.DataFrame(data, index = ["Employee 1", "Employee 2", "Employee 3"])

#Add a new column
df["Job"] = ["Cook", "N/A", "Cashier"]

#Add a new row
new_row = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"}], index = ["Employee4"])
df = pd.concat([df, new_row])

print(df)

                 Name  Age       Job
Employee 1  Spongebob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
Employee4       Sandy   28  Engineer